.box {
  position: absolute;
  display: flex;
  left: 200px;
  top: 90px;
  width: 850px;
  height: 500px;
  border-radius: 20px;
  border: 13px solid black;
}
.cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#hl {
  border-left: 3px solid black;
}
.test2 {
  width: 100%;
  text-align: center;
  color: red;
  margin-top: 20px;
  font-weight: 400;
  background-color: none;
}
.text {
  width: 220px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
.help {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bt {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 56, 62);
  margin-top: 20px;
}
.texst2 {
  width: 100%;

  color: red;
  margin-top: 20px;
  font-weight: 400;
  background-color: none;
  margin-left: 20px;
}
.boxsTe{
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  margin: 10px;
}